<!DOCTYPE html>
<html ng-app="allReservation" lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/button.css">
    <link href="http://cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://code.angularjs.org/1.7.5/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.7.5/angular-cookies.min.js"></script>
    <script src="css/jquery.min.js"></script>

    <script>
      var app = angular.module("allReservation", ['ngCookies']);
      app.controller('allReservationController', function ($cookies, $scope, $http) {
        $scope.reservationListForm = {};
        $scope.activityT = {
          "TEAM": "团",
          "SINGLE": "个"
        };
        $scope.sexT = {
          "MALE": "男",
          "FEMALE": "女"
        };
        $scope.load = function () {
          var boToken = $cookies.get('boToken');
          var boUser = $cookies.get('boUser');
          var boRole = $cookies.get('boRole');
          $http({
            method: 'GET',
            url: 'http://localhost:8081/platform/bo/reserve/alllist?boUserToken=' + boToken + '&boUser=' + boUser,
            headers: {
              'Content-Type': 'application/json',
              'Accept': 'application/json'
            }
          }).then(function (resp) {
            $scope.reservationListForm = resp.data;
          }, function (resp) {
            alert("获取列表失败！服务调用失败！");
          });
        };

        $scope.signInQR = function (reservationInfoId) {
          self.location = 'QR.html?reservationInfoId=' + reservationInfoId;
        };
      });

    </script>
    <title>活动一览</title>
  </head>
  <body>
    <div class="header">
      <div id="header">
        <span id="lblTitle">活动一览</span>
      </div>
    </div>
    <div>
      <img class="header-image" src="img/hd-bg.jpeg">
    </div>
    <div class="middle">
      <div ng-controller="allReservationController as reservationListVO" class="main" data-ng-init="load()">
        <div>
          <table class=table8_1 style="margin-top: 10px">
            <tr>
              <th style="background-color:#fcc80a">联系人</th>
              <th style="background-color:#fcc80a">类型</th>
              <th style="background-color:#fcc80a">预定日期</th>
              <th style="background-color:#fcc80a">预定时间</th>
              <th style="background-color:#fcc80a">签到</th>
            </tr>
            <tr ng-repeat="item in reservationListForm">
              <td hidden>{{item.reservationInfoId}}</td>
              <td hidden>{{item.signIn}}</td>
              <td ng-if="$odd" style="background-color:lightgray">{{item.linkManName}}</td>
              <td ng-if="$even">{{item.linkManName}}</td>
              <td ng-if="$odd" style="background-color:lightgray">{{activityT[item.activityType]}}</td>
              <td ng-if="$even">{{activityT[item.activityType]}}</td>
              <td ng-if="$odd" style="background-color:lightgray">{{item.reserveDay | date:'MM/dd'}}</td>
              <td ng-if="$even">{{item.reserveDay | date:'MM/dd'}}</td>
              <td ng-if="$odd" style="background-color:lightgray">{{item.timeString}}</td>
              <td ng-if="$even">{{item.timeString}}</td>
              <td ng-if="$odd && (item.inactiveTime)" style="background-color:lightgray">
                <button class="button button-3d button-box button-jumbo button-tiny" disabled="disabled">签</button>
              </td>
              <td ng-if="$odd && (!item.inactiveTime)" style="background-color:lightgray">
                <button class="button button-3d button-box button-jumbo button-tiny" ng-click="signInQR(item.reservationInfoId)">签</button>
              </td>
              <td ng-if="$even && (item.inactiveTime)">
                <button class="button button-3d button-box button-jumbo button-tiny" disabled="disabled">签</button>
              </td>
              <td ng-if="$even && (!item.inactiveTime)">
                <button class="button button-3d button-box button-jumbo button-tiny" ng-click="signInQR(item.reservationInfoId)">签</button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>