<!DOCTYPE html>
<html ng-app="allReservation" lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/button.css">
    <link href="http://cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://code.angularjs.org/1.7.5/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.7.5/angular-cookies.min.js"></script>
    <script src="css/jquery.min.js"></script>

    <script>
      $(function () {
        if (window.location.href.indexOf('?id=') >= 0 || window.location.href.indexOf('?url=') >= 0) {
          $('#header>a.home').show();
        }
        $('#header>dl.more>dt').click(function () {
          var $obj = $(this).parent().find('dd');
          $obj.show();
          setTimeout(function () {
            $obj.hide();
          }, 3000);
        });
      });

      var app = angular.module("allReservation", ['ngCookies']);
      app.controller('allReservationController', function ($cookies, $scope, $http, $filter) {
        $scope.selectReservationDate = "";
        $scope.reservationListForm = {};
        $scope.activityT = {
          "TEAM": "团",
          "SINGLE": "个"
        };
        $scope.sexT = {
          "MALE": "男",
          "FEMALE": "女"
        };
        $scope.load = function () {
          var boToken = $cookies.get('boToken');
          var boUser = $cookies.get('boUser');
          var boRole = $cookies.get('boRole');
          $http({
            method: 'GET',
            url: 'http://www.smart-boot.com/platform/bo/reserve/alllist?boUserToken=' + boToken + '&boUser=' + boUser,
            headers: {
              'Content-Type': 'application/json',
              'Accept': 'application/json'
            }
          }).then(function (resp) {
            $scope.reservationListForm = resp.data;
          }, function (resp) {
            alert("获取列表失败！服务调用失败！");
          });
        };

        $scope.signInQR = function (reservationInfoId) {
          self.location = 'QR.html?reservationInfoId=' + reservationInfoId;
        };

        $scope.searchReservation = function () {
          var boToken = $cookies.get('boToken');
          var boUser = $cookies.get('boUser');
          var boRole = $cookies.get('boRole');
          var selectReservationDate = $scope.selectReservationDate;
          var url = '';
          if (selectReservationDate == null || selectReservationDate == '') {
            url = 'http://www.smart-boot.com/platform/bo/reserve/alllist?boUserToken=' + boToken + '&boUser=' + boUser;
          } else {
            var date = $filter('date')(selectReservationDate, 'yyyy-MM-dd');
            url = 'http://www.smart-boot.com/platform/bo/reserve/' + date + '/list?boUserToken=' + boToken + '&boUser=' + boUser;
          }
          $http({
            method: 'GET',
            url: url,
            headers: {
              'Content-Type': 'application/json',
              'Accept': 'application/json'
            }
          }).then(function (resp) {
            $scope.reservationListForm = resp.data;
          }, function (resp) {
            alert("获取列表失败！服务调用失败！");
          });
        };

        $scope.exportAllReservation = function () {
          var boToken = $cookies.get('boToken');
          var boUser = $cookies.get('boUser');
          var boRole = $cookies.get('boRole');
          self.location = 'http://www.smart-boot.com/platform/bo/output/reservation/excel/all?boUserToken=' + boToken + '&boUser=' + boUser;
        };

        $scope.exportReservationWithDate = function () {
          var boToken = $cookies.get('boToken');
          var boUser = $cookies.get('boUser');
          var boRole = $cookies.get('boRole');
          var selectReservationDate = $scope.selectReservationDate;
          if (selectReservationDate == null || selectReservationDate == '') {
            alert("请选择要导出的日期。");
            return;
          }
          var date = $filter('date')(selectReservationDate, 'yyyy-MM-dd');
          self.location = 'http://www.smart-boot.com/platform/bo/output/reservation/excel/date?reserveDate=' + date + '&boUserToken=' + boToken + '&boUser=' + boUser;
        };

        $scope.goBack = function () {
          location.href = 'boAdmin.html';
        };

        $scope.detail = function (reservationId) {
          var hre = 'reservationDetail.html?reservationInfoId=' + reservationId;
          location.href = hre;
        };

        $scope.reserveTeam = function () {
          var hre = 'reserveByBo.html?activityType=TEAM';
          location.href = hre;
        };

        $scope.reserveSingle = function () {
          var hre = 'reserveByBo.html?activityType=SINGLE';
          location.href = hre;
        }
      });

    </script>
    <style>
      table tbody {
        display: block;
        height: 500px;
        overflow-y: scroll;
      }

      table thead,
      tbody tr {
        display: table;
        width: 100%;
        table-layout:fixed;
      }

    </style>
    <title>活动一览</title>
  </head>
  <body>
    <div class="header">
      <div id="header">
        <a class="home" href="boAdmin.html" title="后台管理"><i></i></a>
        <span id="lblTitle">活动一览</span>
        <dl class="more" title="">
          <dt><i></i></dt>
          <dd>
            <a href="changePassword.html">更改密码</a>
            <a href="login.html">退出</a>
          </dd>
        </dl>
      </div>
    </div>
    <div>
      <img class="header-image" src="img/hd-bg.png">
    </div>
    <div class="middle">
      <div ng-controller="allReservationController as reservationListVO" class="main" data-ng-init="load()">
        <div>
          <div>
            <label>预约日期:</label>
            <input placeholder="选择日期" type="date" ng-model="selectReservationDate" />
            <button class="button button-3d button-box button-jumbo button-tiny" ng-click="searchReservation()">搜索</button>
          </div>
          <table class=table8_1 style="margin-top: 10px; margin-bottom: 10px">
            <thead>
              <tr>
                <th style="background-color:#fcc80a; width: 60px;">联系人</th>
<!--                <th style="background-color:#fcc80a; width: 28px;">类型</th>-->
                <th style="background-color:#fcc80a; width: 55px;">预约日期</th>
                <th style="background-color:#fcc80a; width: 100px;">预约时间</th>
                <th style="background-color:#fcc80a">签到</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in reservationListForm">
                <td hidden>{{item.reservationInfoId}}</td>
                <td hidden>{{item.signIn}}</td>
                <td ng-if="$odd" style="background-color:lightgray; width: 60px;" ng-click="detail(item.reservationInfoId)">{{item.linkManName}}</td>
                <td ng-if="$even" style="width: 60px;" ng-click="detail(item.reservationInfoId)">{{item.linkManName}}</td>
<!--                <td ng-if="$odd" style="background-color:lightgray; width: 28px;" ng-click="detail(item.reservationInfoId)">{{activityT[item.activityType]}}</td>-->
<!--                <td ng-if="$even" style="width: 28px;" ng-click="detail(item.reservationInfoId)">{{activityT[item.activityType]}}</td>-->
                <td ng-if="$odd" style="background-color:lightgray; width: 55px;" ng-click="detail(item.reservationInfoId)">{{item.reserveDay | date:'MM/dd'}}</td>
                <td ng-if="$even" style="width: 55px;" ng-click="detail(item.reservationInfoId)">{{item.reserveDay | date:'MM/dd'}}</td>
                <td ng-if="$odd" style="background-color:lightgray; width: 100px;" ng-click="detail(item.reservationInfoId)">{{item.timeString}}</td>
                <td ng-if="$even" style="width: 100px;" ng-click="detail(item.reservationInfoId)">{{item.timeString}}</td>
                <td ng-if="$odd && (item.inactiveTime)" style="background-color:lightgray">
                  <button class="button button-3d button-box button-jumbo button-tiny" disabled="disabled">签</button>
                </td>
                <td ng-if="$odd && (!item.inactiveTime)" style="background-color:lightgray">
                  <button class="button button-3d button-box button-jumbo button-tiny" ng-click="signInQR(item.reservationInfoId)">签</button>
                </td>
                <td ng-if="$even && (item.inactiveTime)">
                  <button class="button button-3d button-box button-jumbo button-tiny" disabled="disabled">签</button>
                </td>
                <td ng-if="$even && (!item.inactiveTime)">
                  <button class="button button-3d button-box button-jumbo button-tiny" ng-click="signInQR(item.reservationInfoId)">签</button>
                </td>
              </tr>
            </tbody>
          </table>
          <div>
            <button type="button" class="button button-glow button-rounded button-raised button-primary button-tiny" style="margin-bottom: 10px"
                    ng-click="exportAllReservation()">导出所有
            </button>
            <button type="button" class="button button-glow button-rounded button-raised button-primary button-tiny" style="margin-bottom: 10px"
                    ng-click="exportReservationWithDate()">导出指定日期
            </button>
            <button type="button" class="button button-glow button-rounded button-raised button-primary button-tiny" style="margin-bottom: 10px"
                    ng-click="goBack()">返回
            </button>
          </div>
          <div>
            <button type="button" class="button button-glow button-rounded button-raised button-primary button-tiny" style="margin-bottom: 10px"
                    ng-click="reserveTeam()">预约团队
            </button>
<!--            <button type="button" class="button button-glow button-rounded button-raised button-primary button-tiny" style="margin-bottom: 10px"-->
<!--                    ng-click="reserveSingle()">预约个人-->
<!--            </button>-->
          </div>
        </div>
      </div>
    </div>
  </body>
</html>