<!DOCTYPE html>
<html ng-app="boUserManager" lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/button.css">
    <link href="http://cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://code.angularjs.org/1.7.5/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.7.5/angular-cookies.min.js"></script>
    <script src="css/jquery.min.js"></script>

    <script>
      $(function () {
        if (window.location.href.indexOf('?id=') >= 0 || window.location.href.indexOf('?url=') >= 0) {
          $('#header>a.home').show();
        }
        $('#header>dl.more>dt').click(function () {
          var $obj = $(this).parent().find('dd');
          $obj.show();
          setTimeout(function () {
            $obj.hide();
          }, 3000);
        });
      });

      var app = angular.module("boUserManager", ['ngCookies']);
      app.controller('boUserManagerController', function ($cookies, $scope, $http) {
        $scope.roleType = {
          "ADMIN": "管理人员",
          "OPERATOR": "核销人员"
        };
        $scope.boUserListForm = {};
        $scope.load = function () {
          var boToken = $cookies.get('boToken');
          var boUser = $cookies.get('boUser');
          var boRole = $cookies.get('boRole');
          $http({
            method: 'GET',
            url: 'http://yp.compass-trip.com/platform/bo/user/all?boUserToken=' + boToken + '&boUser=' + boUser,
            headers: {
              'Content-Type': 'application/json',
              'Accept': 'application/json'
            }
          }).then(function (resp) {
            $scope.boUserListForm = resp.data;
          }, function (resp) {
            alert("获取列表失败！服务调用失败！");
          });
        };

        $scope.deleteMember = function (boUserName) {
          var boToken = $cookies.get('boToken');
          var boUser = $cookies.get('boUser');
          var boRole = $cookies.get('boRole');
          $http({
            method: 'POST',
            url: 'http://yp.compass-trip.com/platform/bo/user/deleteBoUser?boUserToken=' + boToken + '&boUser=' + boUser,
            data: {
              'boUserName': boUserName
            },
            headers: {
              'Content-Type': 'application/json',
              'Accept': 'application/json'
            }
          }).then(function (resp) {
            if (resp.data == true) {
              alert("删除成功！");
              $scope.load();
            }
          }, function (resp) {
            alert("获取列表失败！服务调用失败！");
          });
        };
        
        $scope.addMember = function () {
          location.href = 'addBoUser.html';
        };

        $scope.goBack = function () {
          location.href = 'boAdmin.html';
        };
        
        $scope.boUserDetail = function (boUserId) {
          location.href = 'boUserDetail.html?boUserId=' + boUserId;
        }
      });

    </script>
    <title>管理人员一览</title>
  </head>
  <body>
    <div class="header">
      <div id="header">
        <a class="home" href="boAdmin.html" title="后台管理"><i></i></a>
        <span id="lblTitle">管理人员一览</span>
        <dl class="more" title="">
          <dt><i></i></dt>
          <dd>
            <a href="changePassword.html">更改密码</a>
            <a href="login.html">退出</a>
          </dd>
        </dl>
      </div>
    </div>
    <div>
      <img class="header-image" src="img/hd-bg.jpeg">
    </div>
    <div class="middle">
      <div ng-controller="boUserManagerController as boUserVO" class="main" data-ng-init="load()">
        <div>
          <table class=table8_1 style="margin-top: 10px">
            <tr>
              <th style="background-color:#fcc80a">姓名</th>
              <th style="background-color:#fcc80a">角色</th>
              <th style="background-color:#fcc80a"></th>
            </tr>
            <tr ng-repeat="item in boUserListForm">
              <td ng-if="$odd" style="background-color:lightgray" ng-click="boUserDetail(item.boUserId)">{{item.boUserName}}</td>
              <td ng-if="$even" ng-click="boUserDetail(item.boUserId)">{{item.boUserName}}</td>
              <td ng-if="$odd" style="background-color:lightgray" ng-click="boUserDetail(item.boUserId)">{{roleType[item.roleType]}}</td>
              <td ng-if="$even" ng-click="boUserDetail(item.boUserId)">{{roleType[item.roleType]}}</td>
              <td ng-if="$odd" style="background-color:lightgray">
                <button class="button button-3d button-box button-jumbo button-tiny" ng-click="deleteMember(item.boUserName)">删除</button>
              </td>
              <td ng-if="$even">
                <button class="button button-3d button-box button-jumbo button-tiny" ng-click="deleteMember(item.boUserName)">删除</button>
              </td>
            </tr>
          </table>
          <button type="button" class="button button-glow button-rounded button-raised button-primary button-tiny" style="margin-bottom: 10px"
                  ng-click="addMember()">添加
          </button>
          <button type="button" class="button button-glow button-rounded button-raised button-primary button-tiny" style="margin-bottom: 10px"
                  ng-click="goBack()">返回
          </button>
        </div>
      </div>
    </div>
  </body>
</html>