<!DOCTYPE html>
<html ng-app="myReservationList" lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/button.css">
    <style>
      table, td {
        border: 1px solid grey;
        border-collapse: collapse;
        padding: 5px;
      }
    </style>
    <script src="https://code.angularjs.org/1.7.5/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.7.5/angular-cookies.min.js"></script>
    <script src="css/jquery.min.js"></script>

    <script>
      $(function () {
        if (window.location.href.indexOf('?id=') >= 0 || window.location.href.indexOf('?url=') >= 0) {
          $('#header>a.home').show();
        }
        $('#header>dl.more>dt').click(function () {
          var $obj = $(this).parent().find('dd');
          $obj.show();
          setTimeout(function () {
            $obj.hide();
          }, 3000);
        });
      });

      var app = angular.module("myReservationList", ['ngCookies']);
      app.controller('myReservationListController', function ($cookies, $scope, $http) {
        $scope.reservationListForm = {};
        $scope.activityT = {
          "TEAM": "团",
          "SINGLE": "个"
        };
        $scope.sexT = {
          "MALE": "男",
          "FEMALE": "女"
        };
        $scope.load = function () {
          $http({
            method: 'GET',
            url: 'http://yp.compass-trip.com/platform/reserve/myList?openId=' + $cookies.get('openId'),
            headers: {
              'Content-Type': 'application/json',
              'Accept': 'application/json'
            }
          }).then(function (resp) {
            $scope.reservationListForm = resp.data;
          }, function (resp) {
            alert("获取列表失败！服务调用失败！");
          });
        };

        $scope.modify = function (reservationId) {
          var hre = 'reservationModify.html?reservationInfoId=' + reservationId;
          location.href = hre;
        };

        $scope.goBack = function (){
          location.href = 'reservation.html';
        };

      });

    </script>
    <title>预约记录一览</title>
  </head>
  <body>
    <div class="header">
      <div id="header">
        <a class="home" href="reservation.html" title="预约"><i></i></a>
        <span id="lblTitle">预约记录一览</span>
        <dl class="more" title="预约一览">
          <dt><i></i></dt>
          <dd>
            <a href="reservationList.html">我的预约</a>
          </dd>
        </dl>
      </div>
    </div>
    <div class="content">
      <img class="header-image" src="img/hd-bg.jpeg">
    </div>
    <div class="middle">
      <div ng-controller="myReservationListController as reservationListVO" class="main" data-ng-init="load()">
        <div>
          <table class=table8_1 style="margin-top: 10px">
            <tbody>
              <tr>
                <th style="background-color:#fcc80a">联系人</th>
                <th style="background-color:#fcc80a">类型</th>
                <th style="background-color:#fcc80a">预约日期</th>
                <th style="background-color:#fcc80a">预约时间</th>
              </tr>
              <tr ng-repeat="item in reservationListForm" ng-click="modify(item.reservationInfoId)">
                <td hidden>{{item.reservationInfoId}}</td>
                <td hidden>{{item.signIn}}</td>
                <td ng-if="$odd" style="background-color:lightgray">{{item.linkManName}}</td>
                <td ng-if="$even">{{item.linkManName}}</td>
                <td ng-if="$odd" style="background-color:lightgray">{{activityT[item.activityType]}}</td>
                <td ng-if="$even">{{activityT[item.activityType]}}</td>
                <td ng-if="$odd" style="background-color:lightgray">{{item.reserveDay | date:'MM/dd'}}</td>
                <td ng-if="$even">{{item.reserveDay | date:'MM/dd'}}</td>
                <td ng-if="$odd" style="background-color:lightgray">{{item.timeString}}</td>
                <td ng-if="$even">{{item.timeString}}</td>
              </tr>
            </tbody>
          </table>
          <button type="button" class="button button-glow button-rounded button-raised button-primary button-tiny" style="margin-bottom: 10px"
                  ng-click="goBack()">返回
          </button>
        </div>
      </div>
    </div>
  </body>
</html>