<!DOCTYPE html>
<html ng-app="register" lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0" />
    <link rel="stylesheet" href="css/default.css">
    <title>用户注册</title>
  </head>
  <body>
    <div class="header">
      <div>
        <a class="home"><i></i></a>
        <span id="lblTitle">注册</span>
      </div>
    </div>
    <div>
      <img class="header-image" src="img/hd-bg.jpeg">
    </div>
    <div class="middle">
      <div ng-controller="registerController as registerVO" class="main">
        <div>
          <form ng-submit="registerForm()">
            登录名:<input type="text" ng-model="registerVO.userName" required /> <br />
            密码:<input type="password" ng-minlength="6" ng-maxlength="15" ng-model="registerVO.password1" required /> <br />
            确认密码:<input type="password" ng-minlength="6" ng-maxlength="15" ng-model="registerVO.password2" required /> <br />
            <button type="submit" class="btn blue">提交</button>
            <button type="button" class="btn blue" ng-click="gotoLogin()">去登录</button>
          </form>
        </div>
      </div>
    </div>
    <script src="https://code.angularjs.org/1.7.5/angular.min.js"></script>
    <script>
      var app = angular.module("register", []);
      app.controller('registerController', function ($scope, $http) {
        $scope.registerForm = function () {
          if ($scope.registerVO.password1 != $scope.registerVO.password2) {
            alert("前后密码不一致！");
            return;
          }
          $http({
            method: 'POST',
            url: 'http://127.0.0.1:8081/platform/user/register',
            data: {
              "userName": $scope.registerVO.userName,
              "password": $scope.registerVO.password1
            },
            headers: {
              'Content-Type': 'application/json',
              'Accept': 'application/json'
            }
          }).then(function (resp) {
            if (resp.data == true) {
              alert("注册成功！");
              self.location = 'login.html';
            } else {
              alert("注册失败！");
            }
          }, function (resp) {
            alert("注册失败！服务调用失败！");
          });
        };

        $scope.gotoLogin = function () {
          self.location = 'login.html';
        }
      });
    </script>
  </body>
</html>