<!DOCTYPE html>
<html ng-app="reservation" lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/button.css">
    <script src="https://code.angularjs.org/1.7.5/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.7.5/angular-cookies.min.js"></script>
    <script src="css/jquery.min.js"></script>
    <script>
      $(function () {
        if (window.location.href.indexOf('?id=') >= 0 || window.location.href.indexOf('?url=') >= 0) {
          $('#header>a.home').show();
        }
        $('#header>dl.more>dt').click(function () {
          var $obj = $(this).parent().find('dd');
          $obj.show();
          setTimeout(function () {
            $obj.hide();
          }, 3000);
        });
      });

      var app = angular.module("reservation", ['ngCookies']);
      app.controller('reservationController', function ($cookies, $scope, $http) {
        $scope.openId = "";
        $scope.reserveTeam = function () {
          var hre = 'reserve.html?activityType=TEAM';
          location.href = hre;
        };

        $scope.reserveSingle = function () {
          var hre = 'reserve.html?activityType=SINGLE';
          location.href = hre;
        };

        $scope.load = function () {
          var code = $scope.getQueryString("code");
          $http({
            method: 'GET',
            url: 'http://yp.compass-trip.com/platform/weixin/userInfo/get?code=' + code,
            headers: {
              'Content-Type': 'application/json',
              'Accept': 'application/json'
            }
          }).then(function (resp) {
            if (resp.data != null) {
              $scope.openId = resp.data.openid;
              $scope.registerAndLogin();
            } else {
              alert("登录失败");
            }
          }, function (resp) {
            alert("修改失败！服务调用失败！跳转到登录页面");
          });
        };

        $scope.registerAndLogin = function () {
          $http({
            method: 'POST',
            url: 'http://yp.compass-trip.com/platform/user/login',
            data: {
              "userName": $scope.openId
            },
            headers: {
              'Content-Type': 'application/json',
              'Accept': 'application/json'
            }
          }).then(function (resp) {
            var userName = resp.data.userName;
            $cookies.put("openId", userName);

          }, function (resp) {
            alert("登录失败！服务调用失败！");
          });
        };

        $scope.getQueryString = function (name) {
          var href = location.href.substr(location.href.indexOf("?") + 1);
          var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)', 'i');
          var r = href.match(reg);
          if (r != null) {
            return unescape(r[2]);
          }
          return null;
        };
      })
    </script>
    <title>预约导航</title>
  </head>
  <body>
    <div class="header">
      <div id="header">
        <a class="home" href="reservation.html" title="预约"><i></i></a>
        <span id="lblTitle">预约导航</span>
        <dl class="more" title="预约一览">
          <dt><i></i></dt>
          <dd>
            <a href="reservationList.html">预约查询</a>
            <a href="reservationSignInList.html">参与的预约</a>
          </dd>
        </dl>
      </div>
    </div>
    <div>
      <img class="header-image" src="img/hd-bg.jpeg">
    </div>
    <div class="middle">
      <div class="bodytitle">
        <div>
          <label>欢迎使用杨浦滨江阅读建筑讲解预约系统</label>
        </div>
      </div>
      <div ng-controller="reservationController" class="main2" data-ng-init="load()">
        <div>
          <div style="margin-top: 30px; margin-bottom: 20px">
            <button class="button button-3d button-raised button-primary button-pill" ng-click="reserveTeam()">团队预约</button>
          </div>
          <div style="margin-top: 10px; margin-bottom: 500px">
            <button class="button button-3d button-raised button-primary button-pill" ng-click="reserveSingle()">个人预约</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>