<!DOCTYPE html>
<html ng-app="reservationList" lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/button.css">
    <link href="http://cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
      table, td {
        border: 1px solid grey;
        border-collapse: collapse;
        padding: 5px;
      }
    </style>
    <script src="https://code.angularjs.org/1.7.5/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.7.5/angular-cookies.min.js"></script>
    <script src="css/jquery.min.js"></script>

    <script>
      $(function () {
        if (window.location.href.indexOf('?id=') >= 0 || window.location.href.indexOf('?url=') >= 0) {
          $('#header>a.home').show();
        }
        $('#header>dl.more>dt').click(function () {
          var $obj = $(this).parent().find('dd');
          $obj.show();
          setTimeout(function () {
            $obj.hide();
          }, 3000);
        });
      });

      var app = angular.module("reservationList", ['ngCookies']);
      app.controller('reservationListController', function ($cookies, $scope, $http) {
        $scope.reservationListForm = {};
        $scope.activityT = {
          "TEAM": "团",
          "SINGLE": "个"
        };
        $scope.sexT = {
          "MALE": "男",
          "FEMALE": "女"
        };
        $scope.load = function () {
          $http({
            method: 'GET',
            url: 'http://www.smart-boot.com/platform/reserve/mySignInlist?openid=' + $cookies.get('openid'),
            headers: {
              'Content-Type': 'application/json',
              'Accept': 'application/json'
            }
          }).then(function (resp) {
            $scope.reservationListForm = resp.data;
          }, function (resp) {
            alert("服务调用失败！");
          });
        };
        $scope.reserve = function () {
          self.location = 'reserve.html?activityType=TEAM';
        };

        $scope.allReservation = function () {
          var hre = 'allReservation.html';
          location.href = hre;
        };

        $scope.thumbsUp = function (reservationInfoId) {
          $http({
            method: 'POST',
            url: 'http://www.smart-boot.com/platform/feedback/thumbsUp?openid=' + $cookies.get('openid'),
            data: {
              "reservationInfoId": reservationInfoId
            },
            headers: {
              'Content-Type': 'application/json',
              'Accept': 'application/json'
            }
          }).then(function (resp) {
            $scope.load();
          }, function (resp) {
            alert("获取列表失败！服务调用失败！");
          });
        }
      });

    </script>
    <title>参与的预约</title>
  </head>
  <body>
    <div class="header">
      <div id="header">
        <a class="home" href="reserve.html?activityType=TEAM" title="预约"><i></i></a>
        <span id="lblTitle">参与的预约</span>
        <dl class="more" title="预约一览">
          <dt><i></i></dt>
          <dd>
            <a href="myReservationList.html">预约查询</a>
          </dd>
        </dl>
      </div>
    </div>
    <div class="content">
      <img class="header-image" src="img/hd-bg.png">
    </div>
    <div class="middle">
      <div ng-controller="reservationListController as reservationListVO" class="main" data-ng-init="load()">
        <div>
          <table class=table8_1 style="margin-top: 10px">
            <tbody>
              <tr>
                <th style="background-color:#fcc80a">联系人</th>
                <th style="background-color:#fcc80a">类型</th>
                <th style="background-color:#fcc80a">电话</th>
                <th style="background-color:#fcc80a">日期</th>
                <th style="background-color:#fcc80a">时间</th>
                <th style="background-color:#fcc80a"></th>
              </tr>
              <tr ng-repeat="item in reservationListForm">
                <td hidden>{{item.reservationInfoId}}</td>
                <td hidden>{{item.signIn}}</td>
                <td ng-if="$odd" style="background-color:lightgray">{{item.linkManName}}</td>
                <td ng-if="$even">{{item.linkManName}}</td>
                <td ng-if="$odd" style="background-color:lightgray">{{activityT[item.activityType]}}</td>
                <td ng-if="$even">{{activityT[item.activityType]}}</td>
                <td ng-if="$odd" style="background-color:lightgray">{{item.phoneNumber}}</td>
                <td ng-if="$even">{{item.phoneNumber}}</td>
                <td ng-if="$odd" style="background-color:lightgray">{{item.reserveDay | date:'MM/dd'}}</td>
                <td ng-if="$even">{{item.reserveDay | date:'MM/dd'}}</td>
                <td ng-if="$odd" style="background-color:lightgray">{{item.timeString}}</td>
                <td ng-if="$even">{{item.timeString}}</td>
                <td ng-if="$odd && item.hasFeedback" style="background-color:lightgray">
                  <button class="button button-3d button-box button-jumbo button-tiny" disabled="disabled" ng-click="thumbsUp(item.reservationInfoId)"><i class="fa fa-thumbs-up"></i></button>
                </td>
                <td ng-if="$odd && !item.hasFeedback" style="background-color:lightgray">
                  <button class="button button-3d button-box button-jumbo button-tiny" ng-click="thumbsUp(item.reservationInfoId)"><i class="fa fa-thumbs-up"></i></button>
                </td>
                <td ng-if="$even && item.hasFeedback">
                  <button class="button button-3d button-box button-jumbo button-tiny" disabled="disabled" ng-click="thumbsUp(item.reservationInfoId)"><i class="fa fa-thumbs-up"></i></button>
                </td>
                <td ng-if="$even && !item.hasFeedback">
                  <button class="button button-3d button-box button-jumbo button-tiny" ng-click="thumbsUp(item.reservationInfoId)"><i class="fa fa-thumbs-up"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
          <button type="button" class="button button-glow button-rounded button-raised button-primary button-tiny" style="margin-bottom: 10px"
                  ng-click="reserve()">预定
          </button>
          <button type="button" class="button button-glow button-rounded button-raised button-primary button-tiny" style="margin-bottom: 10px"
                  ng-click="allReservation()">所有活动
          </button>
        </div>
      </div>
    </div>
  </body>
</html>