<!DOCTYPE html>
<html ng-app="reservationModify" lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/button.css">
    <style>
      form div {
        margin: 5px 0;
      }

      .int label {
        width: 100px;
        float: left;
        text-align: right;
      }

      .int input {
        padding: 1px 1px;
        border: 1px solid #ccc;
        height: 16px;
      }
    </style>
    <script src="https://code.angularjs.org/1.7.5/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.7.5/angular-cookies.min.js"></script>
    <script src="css/jquery.min.js"></script>
    <script src="css/qrcode.min.js"></script>
    <script>
      $(function () {
        if (window.location.href.indexOf('?id=') >= 0 || window.location.href.indexOf('?url=') >= 0) {
          $('#header>a.home').show();
        }
        $('#header>dl.more>dt').click(function () {
          var $obj = $(this).parent().find('dd');
          $obj.show();
          setTimeout(function () {
            $obj.hide();
          }, 3000);
        });
      });

      var app = angular.module("reservationModify", ['ngCookies']);
      app.controller('reservationModifyController', function ($cookies, $scope, $http, $filter) {
        $scope.canModify = false;
        $scope.reserveVO.reservationInfoId = "";
        $scope.reserveVO.linkManName = "";
        $scope.reserveVO.sex = "MALE";
        $scope.reserveVO.age = "";
        $scope.reserveVO.phoneNumber = "";
        $scope.reserveVO.peopleCount = "";
        $scope.reserveVO.activityType = "TEAM";
        $scope.dateTimeList = "";
        $scope.dateList = new Array();
        $scope.validtime = "";
        $scope.validPeopleRange = new Array();
        $scope.displayTimeString = "";
        $scope.load = function () {
          var href = location.href;
          var urlValue = href.substr(href.indexOf("=") + 1);
          $scope.reserveVO.reservationInfoId = urlValue;
          $http({
            method: 'GET',
            url: 'http://www.smart-boot.com/platform/reserve/modify?openid=' + $cookies.get('openid') + '&reservationInfoId=' + $scope.reserveVO.reservationInfoId,
            headers: {
              'Content-Type': 'application/json',
              'Accept': 'application/json'
            }
          }).then(function (resp) {
            if (resp.data != null) {
              $scope.reserveVO.reservationInfoId = resp.data.reservationInfoId;
              $scope.reserveVO.linkManName = resp.data.linkManName;
              $scope.reserveVO.sex = resp.data.sex;
              $scope.reserveVO.age = resp.data.age;
              $scope.reserveVO.phoneNumber = resp.data.phoneNumber;
              $scope.reserveVO.peopleCount = ""+resp.data.peopleCount;
              $scope.reserveVO.activityType = resp.data.activityType;
              $scope.reserveVO.reserveDay = $filter("date")(new Date(resp.data.reserveDay), "yyyy-MM-dd");
              $scope.reserveVO.timeString = resp.data.timeString;
              var now = $filter("date")(new Date(), "yyyy-MM-dd");
              $scope.canModify = $scope.reserveVO.reserveDay > now;
              $scope.getValidDateTime();
            } else {
              alert("取得预约信息失败！");
            }
          }, function (resp) {
            alert("服务调用失败！");
          });
        };

        $scope.getValidDateTime = function () {
          var url = '';
          if ($scope.reserveVO.activityType == "TEAM") {
            url = 'http://www.smart-boot.com/platform/reserve/team/validDateTime?openid=' + $cookies.get('openid');
          } else {
            url = 'http://www.smart-boot.com/platform/reserve/single/validDateTime?openid=' + $cookies.get('openid');
          }

          $http({
            method: 'GET',
            url: url,
            headers: {
              'Content-Type': 'application/json',
              'Accept': 'application/json'
            }
          }).then(function (resp) {
            $scope.dateTimeList = resp.data;
            for (var i = 0; i < $scope.dateTimeList.length; i++) {
              var dateTime = $scope.dateTimeList[i];
              for (var key in dateTime) {
                $scope.dateList.push(key);
              }
            }
            $scope.changeReserveDate();
            $scope.changeReserveTime();
          }, function (resp) {
            alert("服务调用失败！");
          });

        };

        $scope.goBack = function () {
          self.location = 'allReservation.html';
        };

        $scope.cancel = function () {
          $http({
            method: 'POST',
            url: 'http://www.smart-boot.com/platform/reserve/cancel?openid=' + $cookies.get('openid'),
            data: {
              "reservationInfoId": $scope.reserveVO.reservationInfoId
            },
            headers: {
              'Content-Type': 'application/json',
              'Accept': 'application/json'
            }
          }).then(function (resp) {
            if (resp.data != null && resp.data != '') {
              alert("取消成功！");
              self.location = 'myReservationList.html';
            } else {
              alert("取消失败！");
            }
          }, function (resp) {
            alert("服务调用失败！");
            self.location = 'myReservationList.html';
          });
        };

        $scope.reserveForm = function () {
          $http({
            method: 'POST',
            url: 'http://www.smart-boot.com/platform/reserve/update?openid=' + $cookies.get('openid'),
            data: {
              "reservationInfoId": $scope.reserveVO.reservationInfoId,
              "linkManName": $scope.reserveVO.linkManName,
              "sex": $scope.reserveVO.sex,
              "age": $scope.reserveVO.age,
              "phoneNumber": $scope.reserveVO.phoneNumber,
              "reserveDay": $scope.reserveVO.reserveDay,
              "timeString": $scope.reserveVO.timeString,
              "peopleCount": $scope.reserveVO.peopleCount,
              "activityType": $scope.reserveVO.activityType
            },
            headers: {
              'Content-Type': 'application/json',
              'Accept': 'application/json'
            }
          }).then(function (resp) {
            if (resp.data == true) {
              alert("修改成功！");
              self.location = 'myReservationList.html';
            } else {
              alert("修改失败！");
              self.location = 'myReservationList.html';
            }
          }, function (resp) {
            alert("服务调用失败！");
            self.location = 'myReservationList.html';
          });
        };

        $scope.changeReserveDate = function () {
          for (var datejson in $scope.dateTimeList) {
            for (var key in $scope.dateTimeList[datejson]) {
              var date = $filter('date')($scope.reserveVO.reserveDay, 'yyyy-MM-dd');
              var keyD = $filter('date')(new Date(key), 'yyyy-MM-dd');
              if (keyD == date) {
                $scope.validtime = $scope.dateTimeList[datejson][key];
              }
            }
          }
        };

        $scope.changeReserveTime = function () {
          $scope.validPeopleRange = new Array();
          if ($scope.reserveVO.activityType == "TEAM") {
            for(var i = 16; i <= 50; i++)
              $scope.validPeopleRange.push(i);
          } else {
            var peopleRange = 0;
            var timeString = $scope.reserveVO.timeString;
            for(var i = 0; i < $scope.validtime.length; i ++){
              var vt = $scope.validtime[i];
              if($scope.timeFormatString(vt.beginHour, vt.beginMinute, vt.endHour, vt.endMinute) == timeString){
                peopleRange = vt.times;
              }
            }
            if(parseInt(peopleRange) > parseInt($scope.reserveVO.peopleCount)){
              peopleRange = parseInt(peopleRange);
            }else{
              peopleRange = parseInt($scope.reserveVO.peopleCount);
            }
            for (var i = 1; i <= peopleRange; i++) {
              $scope.validPeopleRange.push(i);
            }
          }
        };

        $scope.timeFormatString = function (hourBegin, minuteBegin, hourEnd, minuteEnd) {
          var result = "";
          if (String(hourBegin).length == 1) {
            result = result + "0" + hourBegin;
          } else {
            result = result + hourBegin;
          }
          if (String(minuteBegin).length == 1) {
            result = result + ":0" + minuteBegin;
          } else {
            result = result + ":" + minuteBegin;
          }
          if (String(hourEnd).length == 1) {
            result = result + " ~ 0" + hourEnd;
          } else {
            result = result + " ~ " + hourEnd;
          }
          if (String(minuteEnd).length == 1) {
            result = result + ":0" + minuteEnd;
          } else {
            result = result + ":" + minuteEnd;
          }
          return result;
        };

        $scope.timeFormatString2 = function (timeString) {
          var hourBegin = timeString.substr(0, timeString.indexOf(":"));
          timeString = timeString.substr(timeString.indexOf(":") + 1);
          var minuteBegin = timeString.substr(0, timeString.indexOf(" ~ "));
          timeString = timeString.substr(timeString.indexOf(" ~ ") + 3);
          var hourEnd = timeString.substr(0, timeString.indexOf(":"));
          var minuteEnd = timeString.substr(timeString.indexOf(":") + 1);
          return $scope.timeFormatString(hourBegin, minuteBegin, hourEnd, minuteEnd);
        };

        $scope.goBack = function () {
          self.location = 'myReservationList.html';
        }
      });
    </script>
    <title>资源预约</title>
  </head>
  <body>
    <div class="header">
      <div id="header">
        <a class="home" href="reservation.html" title="预约"><i></i></a>
        <span id="lblTitle">预约系统</span>
        <dl class="more" title="预约一览">
          <dt><i></i></dt>
          <dd>
            <a href="myReservationList.html">我的预约</a>
          </dd>
        </dl>
      </div>
    </div>
    <div>
      <img class="header-image" src="img/hd-bg.jpeg">
    </div>
    <div class="middle">
      <div ng-controller="reservationModifyController as reserveVO" class="main" data-ng-init="load()">
        <div>
          <form ng-submit="reserveForm()">
            <div class="int">
              <label>联系人姓名:</label>
              <input placeholder="请输入联系人姓名" type="text" ng-model="reserveVO.linkManName" required />
            </div>
            <div class="int">
              <label>性别:</label>
              <input name="sex" type="radio" ng-model="reserveVO.sex" value="MALE" />男
              <input name="sex" type="radio" ng-model="reserveVO.sex" value="FEMALE" />女
            </div>
            <div class="int">
              <label>年龄:</label><input name="age1" placeholder="请输入年龄" type="number" ng-minlength="1" ng-maxlength="2" ng-model="reserveVO.age" />
              <div class="col-xs-12">
                <p class="text-danger glyphicon glyphicon-remove"
                   ng-if="(rForm.age1.$error.minlength||rForm.age1.$error.maxlength)&&rForm.age1.$touched">请输入有效年龄!</p>
              </div>
            </div>
            <div class="int">
              <label>电话号码:</label><input name="tel1" placeholder="请输入手机号码" ng-pattern="/^1[3|5][0-9]\d{4,8}$/" type="tel" ng-minlength="11"
                                         ng-maxlength="15" ng-model="reserveVO.phoneNumber" required />
              <div class="col-xs-12">
                <p class="glyphicon glyphicon-ok input_result text-success"
                   ng-if="rForm.tel1.$valid"></p>
                <p class="text-danger glyphicon glyphicon-remove"
                   ng-if="rForm.tel1.$error.required&&rForm.tel1.$touched">电话不能为空！</p>
                <p class="text-danger glyphicon glyphicon-remove"
                   ng-if="(rForm.tel1.$error.minlength||rForm.tel1.$error.maxlength||rForm.tel1.$error.pattern)&&rForm.tel1.$touched">请输入有效手机号!</p>
              </div>
            </div>
            <div class="int">
              <label>预约日期:</label>
              <select ng-model="reserveVO.reserveDay" ng-change="changeReserveDate()" required>
                <option value="{{reserveVO.reserveDay}}" disabled selected>{{reserveVO.reserveDay | date:'yyyy-MM-dd'}}</option>
                <option ng-repeat="d in dateList" value="{{d}}">{{d | date:'yyyy-MM-dd'}}
                </option>
              </select>
            </div>
            <div class="int">
              <label>预约时间段:</label>
              <select ng-model="reserveVO.timeString" ng-change="changeReserveTime()" required>
                <option value="{{reserveVO.timeString}}" disabled selected>{{timeFormatString2(reserveVO.timeString)}}</option>
                <option ng-repeat="t in validtime"
                        value="{{t.beginHour + ':' + t.beginMinute + ' ~ ' + t.endHour + ':' + t.endMinute}}">
                  {{timeFormatString(t.beginHour, t.beginMinute, t.endHour, t.endMinute)}}
                </option>
              </select>
            </div>
            <div class="int">
              <label>预约人数:</label>
              <select ng-model="reserveVO.peopleCount" required>
                <option value="{{reserveVO.peopleCount}}" disabled selected>{{reserveVO.peopleCount}}</option>
                <option ng-repeat="t in validPeopleRange" value="{{t}}">
                  {{t}}
                </option>
              </select>
            </div>
            <div class="int">
              <label>预约类型:</label>
              <input name="activityType" type="radio" ng-model="reserveVO.activityType" value="TEAM" disabled />团队
              <input name="activityType" type="radio" ng-model="reserveVO.activityType" value="SINGLE" disabled />个人
            </div>
            <button ng-if="canModify" type="submit" class="button button-glow button-rounded button-raised button-primary button-tiny" style="margin-bottom: 10px">更新</button>
            <button ng-if="canModify" type="button" class="button button-glow button-rounded button-raised button-primary button-tiny" style="margin-bottom: 10px" ng-click="cancel()">取消</button>
            <button type="button" class="button button-glow button-rounded button-raised button-primary button-tiny" style="margin-bottom: 10px" ng-click="goBack()">返回</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>