<!DOCTYPE html>
<html ng-app="reservationEducation" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/button.css">
    <script src="https://code.angularjs.org/1.7.5/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.7.5/angular-cookies.min.js"></script>
    <script src="css/jquery.min.js"></script>
    <script>

        var app = angular.module("reservationEducation", ['ngCookies']);
        app.controller('reservationEducationController', function ($cookies, $scope, $http) {
            $scope.agree = false;
            $scope.openid = "";
            $scope.beginReserve = function () {
                var hre = 'reserve.html?activityType=TEAM';
                location.href = hre;
            };

            $scope.myReservation = function () {
                var hre = 'myReservationList.html';
                location.href = hre;
            };

            $scope.load = function () {
                // ----- mock ------
                // $cookies.put("openid", "oFdKuxEvHHUdb72f-Z1eZg1DLdlY");
                // ----- mock ------
                if ($cookies.get('openid') != null) {
                    return;
                }
                var code = $scope.getQueryString("code");
                $http({
                    method: 'GET',
                    url: 'http://www.smart-boot.com/platform/weixin/userInfo/get?code=' + code,
                    headers: {
                        'Content-Type': 'application/json',
                        'Accept': 'application/json'
                    }
                }).then(function (resp) {
                    if (resp.data != null) {
                        $scope.openid = resp.data.openid;
                        $scope.registerAndLogin();
                    } else {
                        alert("登录失败");
                    }
                }, function (resp) {
                    alert(resp.data);
                    alert("服务调用失败！");
                });
            };

            $scope.registerAndLogin = function () {
                $http({
                    method: 'POST',
                    url: 'http://www.smart-boot.com/platform/user/login',
                    data: {
                        "userName": $scope.openid
                    },
                    headers: {
                        'Content-Type': 'application/json',
                        'Accept': 'application/json'
                    }
                }).then(function (resp) {
                    var userName = resp.data.userName;
                    $cookies.put("openid", userName);

                }, function (resp) {
                    alert("登录失败！服务调用失败！");
                });
            };

            $scope.getQueryString = function (name) {
                var href = location.href.substr(location.href.indexOf("?") + 1);
                var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)', 'i');
                var r = href.match(reg);
                if (r != null) {
                    return unescape(r[2]);
                }
                return null;
            };
        })
    </script>
    <title>预约导航</title>
</head>
<body>
<div class="header">
    <div id="header">
        <a class="home" title="预约"><i></i></a>
        <span id="lblTitle">预约导航</span>
    </div>
</div>
<div>
    <img class="header-image" src="img/hd-bg.jpeg">
</div>
<div class="middle">
    <div class="bodytitle">
        <div>
            <label>欢迎使用预约系统</label>
        </div>
    </div>
    <div ng-controller="reservationEducationController" class="main2" data-ng-init="load()">
        <div style="padding: 10px; float: left">
            <span style="float: top">杨浦滨江欢迎您</span><br>
            <p style="line-height: 20px; position: relative; font-size: 10px">
                <span style="float: top">预约服务说明</span><br>
                <span style="float: left">1、欢迎预约杨浦滨江讲解服务，本服务不收取任何费用。游客将在讲解</span><br>
                <span style="float: left">&nbsp&nbsp&nbsp员带领之下参观杨浦滨江。参观过程需听从讲解员的指引安排，按指定</span><br>
                <span style="float: left">&nbsp&nbsp&nbsp线路文明参观，注意人身安全。杨浦滨江讲解段总长约5.5公里，全程</span><br>
                <span style="float: left">&nbsp&nbsp&nbsp采用步行方式，儿童、老人及行动不便者请在亲友的陪同下参观。</span><br>
                <span style="float: left">2、团队讲解服务时间：</span><br>
                <span style="float: left">&nbsp&nbsp&nbsp每周二，9:00-10:00、10:00-11:00、14:00-15:00、</span><br>
                <span style="float: left">&nbsp&nbsp&nbsp15:00-16:00、16:00-17:00。</span><br>
                <span style="float: left">&nbsp&nbsp&nbsp如需其他时间请联系我们。</span><br>
                <span style="float: left">&nbsp&nbsp&nbsp团体人数为15人以上，不超过50人。</span><br>
                <span style="float: left">&nbsp&nbsp&nbsp领队需管理好团队秩序，确保团队人数。</span><br>
                <span style="float: left">3、请提前至少一周在线预约，预约有效时间为预约日期起的</span><br>
                <span style="float: left">&nbsp&nbsp&nbsp一个月内。</span><br>
                <span style="float: left">4、在线预约采用实名制，请确保您的个人信息和联系方式</span><br>
                <span style="float: left">&nbsp&nbsp&nbsp准确。</span><br>
                <span style="float: left">5、预约成功后，您将收到预约确认信息，稍后我们工作人员</span><br>
                <span style="float: left">&nbsp&nbsp&nbsp将与您联系确认。如无法前来参观，需提前两个工作日</span><br>
                <span style="float: left">&nbsp&nbsp&nbsp告知，或者在线取消预约。</span><br>
                <span style="float: left">6、请按预约时间准时到达秦皇岛驿站旅游咨询中心（上海市杨浦区</span><br>
                <span style="float: left">&nbsp&nbsp&nbsp秦皇岛路1号轮渡站二楼），需随身携带预约人身份证原件签到时出示。</span><br>
                <span style="float: left">&nbsp&nbsp&nbsp预约时间过后，仍未到达，则视为自动放弃本次预约。</span><br>
                <span style="float: left">7、如到场团队人数过少，我们将改成提供感应导览耳麦设备服务，</span><br>
                <span style="float: left">&nbsp&nbsp&nbsp游客佩戴后可自行参观游览并收听讲解。</span><br>
                <span style="float: left">8、如因故无法接待已预约的团队，我们将在通知预约方</span><br>
                <span style="float: left">&nbsp&nbsp&nbsp后另行安排预约时间，敬请谅解。</span><br>
                <span style="float: left">9、咨询电话：021-65676687</span><br>

                杨浦区旅游市场管理事务中心
            </p>
            <div class="int">
                <input type="checkbox" ng-model="agree"/>我同意上述条款
            </div>
            <div style="margin-top: 30px; margin-bottom: 10px">
                <button class="button button-3d button-raised button-primary button-pill" ng-disabled="!agree"
                        ng-click="beginReserve()">开始预约
                </button>
            </div>
        </div>
    </div>
</div>
</body>
</html>