<!DOCTYPE html>
<html ng-app="reservationList" lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/button.css">
    <link href="http://cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
      table, td {
        border: 1px solid grey;
        border-collapse: collapse;
        padding: 5px;
      }
    </style>
    <script src="https://code.angularjs.org/1.7.5/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.7.5/angular-cookies.min.js"></script>
    <script src="css/jquery.min.js"></script>

    <script>
      $(function () {
        if (window.location.href.indexOf('?id=') >= 0 || window.location.href.indexOf('?url=') >= 0) {
          $('#header>a.home').show();
        }
        $('#header>dl.more>dt').click(function () {
          var $obj = $(this).parent().find('dd');
          $obj.show();
          setTimeout(function () {
            $obj.hide();
          }, 3000);
        });
      });

      var app = angular.module("reservationList", ['ngCookies']);
      app.controller('reservationListController', function ($cookies, $scope, $http) {
        $scope.activityType = '';
        $scope.reservationListForm = {};
        $scope.activityT = {
          "TEAM": "团",
          "SINGLE": "个"
        };
        $scope.sexT = {
          "MALE": "男",
          "FEMALE": "女"
        };
        $scope.load = function () {
          $scope.activityType = $scope.getQueryString("activityType");
          $http({
            method: 'GET',
            url: 'http://www.smart-boot.com/platform/reserve/list?openid=' + $cookies.get('openid') + '&activityType=' + $scope.activityType,
            headers: {
              'Content-Type': 'application/json',
              'Accept': 'application/json'
            }
          }).then(function (resp) {
            $scope.reservationListForm = resp.data;
          }, function (resp) {
            alert("获取列表失败！服务调用失败！");
          });
        };

        $scope.reserve = function () {
          var hre = 'reserve.html?activityType=' + $scope.activityType;
          location.href = hre;
        };

        $scope.goBack = function (){
          location.href = 'reserve.html?activityType=TEAM';
        };

        $scope.getQueryString = function (name) {
          var href = location.href.substr(location.href.indexOf("?") + 1);
          var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)', 'i');
          var r = href.match(reg);
          if (r != null) {
            return unescape(r[2]);
          }
          return null;
        };

        $scope.thumbsUp = function (reservationInfoId) {
          $http({
            method: 'POST',
            url: 'http://www.smart-boot.com/platform/feedback/thumbsUp?openid=' + $cookies.get('openid'),
            data: {
              "reservationInfoId": reservationInfoId
            },
            headers: {
              'Content-Type': 'application/json',
              'Accept': 'application/json'
            }
          }).then(function (resp) {
            $scope.load();
          }, function (resp) {
            alert("获取列表失败！服务调用失败！");
          });
        }

      });

    </script>
    <style>
      table tbody {
        display: block;
        height: 500px;
        overflow-y: scroll;
      }

      table thead,
      tbody tr {
        display: table;
        width: 100%;
        table-layout:fixed;
      }

    </style>
    <title>预约记录一览</title>
  </head>
  <body>
    <div class="header">
      <div id="header">
        <a class="home" href="reserve.html?activityType=TEAM" title="预约"><i></i></a>
        <span id="lblTitle">预约记录一览</span>
        <dl class="more" title="预约一览">
          <dt><i></i></dt>
          <dd>
            <a href="myReservationList.html">我的预约</a>
          </dd>
        </dl>
      </div>
    </div>
    <div class="content">
      <img class="header-image" src="img/hd-bg.jpeg">
    </div>
    <div class="middle">
      <div ng-controller="reservationListController as reservationListVO" class="main" data-ng-init="load()">
        <div>
          <table class=table8_1 style="margin-top: 10px">
            <thead>
              <tr>
                <th style="background-color:#fcc80a; width: 58px;">联系人</th>
                <th style="background-color:#fcc80a; width: 14px;">类</th>
                <th style="background-color:#fcc80a; width: 28px;">人数</th>
                <th style="background-color:#fcc80a; width: 40px;">日期</th>
                <th style="background-color:#fcc80a; width: 95px;">预约时间</th>
                <th style="background-color:#fcc80a"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in reservationListForm">
                <td hidden>{{item.reservationInfoId}}</td>
                <td hidden>{{item.signIn}}</td>
                <td ng-if="$odd" style="background-color:lightgray; width: 58px;">{{item.linkManName}}</td>
                <td ng-if="$even" style="width: 58px;">{{item.linkManName}}</td>
                <td ng-if="$odd" style="background-color:lightgray; width: 14px;">{{activityT[item.activityType]}}</td>
                <td ng-if="$even" style="width: 14px;">{{activityT[item.activityType]}}</td>
                <td ng-if="$odd" style="background-color:lightgray; width: 28px;">{{item.peopleCount}}</td>
                <td ng-if="$even" style="width: 28px;">{{item.peopleCount}}</td>
                <td ng-if="$odd" style="background-color:lightgray; width: 40px;">{{item.reserveDay | date:'MM/dd'}}</td>
                <td ng-if="$even" style="width: 40px;">{{item.reserveDay | date:'MM/dd'}}</td>
                <td ng-if="$odd" style="background-color:lightgray; width: 95px;">{{item.timeString}}</td>
                <td ng-if="$even" style="width: 95px;">{{item.timeString}}</td>
                <td ng-if="$odd && (!item.hasSigned || item.hasFeedback)" style="background-color:lightgray"><button class="button button-3d button-box button-tiny" disabled="disabled"><i class="fa fa-thumbs-up"></i></button></td>
                <td ng-if="$odd && item.hasSigned && !item.hasFeedback" style="background-color:lightgray"><button class="button button-3d button-box button-tiny"><i class="fa fa-thumbs-up" ng-click="thumbsUp(item.reservationInfoId)"></i></button></td>
                <td ng-if="$even && (!item.hasSigned || item.hasFeedback)"><button class="button button-3d button-box button-tiny" disabled="disabled"><i class="fa fa-thumbs-up"></i></button></td>
                <td ng-if="$even && item.hasSigned && !item.hasFeedback"><button class="button button-3d button-box button-tiny" ng-click="thumbsUp(item.reservationInfoId)"><i class="fa fa-thumbs-up"></i></button></td>
              </tr>
            </tbody>
          </table>
          <button type="button" class="button button-glow button-rounded button-raised button-primary button-tiny" style="margin-bottom: 10px"
                  ng-click="reserve()">预约
          </button>
          <button type="button" class="button button-glow button-rounded button-raised button-primary button-tiny" style="margin-bottom: 10px"
                  ng-click="goBack()">返回
          </button>
        </div>
      </div>
    </div>
  </body>
</html>