<!DOCTYPE html>
<html ng-app="reservationModify" lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/button.css">
    <style>
      form div {
        margin: 5px 0;
      }

      .int label {
        width: 100px;
        float: left;
        text-align: right;
      }

      .int input {
        padding: 1px 1px;
        border: 1px solid #ccc;
        height: 16px;
      }
    </style>
    <script src="https://code.angularjs.org/1.7.5/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.7.5/angular-cookies.min.js"></script>
    <script src="css/jquery.min.js"></script>
    <script src="css/qrcode.min.js"></script>
    <script>
      $(function () {
        if (window.location.href.indexOf('?id=') >= 0 || window.location.href.indexOf('?url=') >= 0) {
          $('#header>a.home').show();
        }
        $('#header>dl.more>dt').click(function () {
          var $obj = $(this).parent().find('dd');
          $obj.show();
          setTimeout(function () {
            $obj.hide();
          }, 3000);
        });
      });

      var app = angular.module("reservationModify", ['ngCookies']);
      app.controller('reservationModifyController', function ($cookies, $scope, $http, $filter) {
        $scope.canModify = false;
        $scope.reserveVO.reservationInfoId = "";
        $scope.reserveVO.linkManName = "";
        $scope.reserveVO.sex = "MALE";
        $scope.reserveVO.age = "";
        $scope.reserveVO.phoneNumber = "";
        $scope.reserveVO.peopleCount = "";
        $scope.reserveVO.activityType = "TEAM";
        $scope.reserveVO.signIn = false;
        $scope.load = function () {
          var href = location.href;
          var urlValue = href.substr(href.indexOf("=") + 1);
          $scope.reserveVO.reservationInfoId = urlValue;
          $http({
            method: 'GET',
            url: 'http://yp.compass-trip.com/platform/reserve/modify?openId=' + $cookies.get('openId') + '&reservationInfoId=' + $scope.reserveVO.reservationInfoId,
            headers: {
              'Content-Type': 'application/json',
              'Accept': 'application/json'
            }
          }).then(function (resp) {
            if (resp.data != null) {
              $scope.reserveVO.reservationInfoId = resp.data.reservationInfoId;
              $scope.reserveVO.linkManName = resp.data.linkManName;
              $scope.reserveVO.sex = resp.data.sex;
              $scope.reserveVO.age = resp.data.age;
              $scope.reserveVO.phoneNumber = resp.data.phoneNumber;
              $scope.reserveVO.peopleCount = resp.data.peopleCount;
              $scope.reserveVO.activityType = resp.data.activityType;
              $scope.reserveVO.reserveDay = new Date(resp.data.reserveDay);
              $scope.reserveVO.timeString = resp.data.timeString;
              $scope.reserveVO.signIn = resp.data.signIn;
              var now = $filter("date")(new Date(), "yyyyMMdd");
              var startDate = $filter("date")($scope.reserveVO.reserveDay, "yyyyMMdd");
              $scope.canModify = startDate > now;
            } else {
              alert("取得预约信息失败！");
            }
          }, function (resp) {
            alert("服务调用失败！");
          });
        };

        $scope.back = function () {
          self.location = 'reservationList.html';
        };

        $scope.cancel = function () {
          $http({
            method: 'POST',
            url: 'http://yp.compass-trip.com/platform/reserve/cancel?openId=' + $cookies.get('openId'),
            data: {
              "reservationInfoId": $scope.reserveVO.reservationInfoId
            },
            headers: {
              'Content-Type': 'application/json',
              'Accept': 'application/json'
            }
          }).then(function (resp) {
            if (resp.data != null && resp.data != '') {
              alert("取消成功！");
              self.location = 'reservationList.html';
            } else {
              alert("取消失败！");
            }
          }, function (resp) {
            alert("服务调用失败！");
            self.location = 'reservationList.html';
          });
        };

        $scope.reserveForm = function () {
          $http({
            method: 'POST',
            url: 'http://yp.compass-trip.com/platform/reserve?openId=' + $cookies.get('openId'),
            data: {
              "reservationInfoId": $scope.reserveVO.reservationInfoId,
              "linkManName": $scope.reserveVO.linkManName,
              "sex": $scope.reserveVO.sex,
              "age": $scope.reserveVO.age,
              "phoneNumber": $scope.reserveVO.phoneNumber,
              "reserveDay": $scope.reserveVO.reserveDay,
              "timeString": $scope.reserveVO.timeString,
              "peopleCount": $scope.reserveVO.peopleCount,
              "activityType": $scope.reserveVO.activityType
            },
            headers: {
              'Content-Type': 'application/json',
              'Accept': 'application/json'
            }
          }).then(function (resp) {
            if (resp.data == true) {
              alert("修改成功！");
              self.location = 'reservationList.html';
            } else {
              alert("修改失败！");
            }
          }, function (resp) {
            alert("服务调用失败！");
            self.location = 'reservationList.html';
          });
        };
      });
    </script>
    <title>资源预约</title>
  </head>
  <body>
    <div class="header">
      <div id="header">
        <a class="home" href="reservation.html" title="预约"><i></i></a>
        <span id="lblTitle">预约系统</span>
        <dl class="more" title="预约一览">
          <dt><i></i></dt>
          <dd>
            <a href="reservationList.html">预约查询</a>
            <a href="reservationSignInList.html">参与的预约</a>
          </dd>
        </dl>
      </div>
    </div>
    <div>
      <img class="header-image" src="img/hd-bg.jpeg">
    </div>
    <div class="middle">
      <div ng-controller="reservationModifyController as reserveVO" class="main" data-ng-init="load()">
        <div>
          <form ng-submit="reserveForm()">
            <div class="int">
              <label>联系人姓名:</label><input type="text" ng-model="reserveVO.linkManName" readonly  unselectable="on" />
            </div>
            <div class="int">
              <label>性别:</label>
              <input name="sex" type="radio" ng-model="reserveVO.sex" value="MALE" disabled/>男
              <input name="sex" type="radio" ng-model="reserveVO.sex" value="FEMALE" disabled/>女
            </div>
            <div class="int">
              <label>年龄:</label><input type="number" ng-maxlength="2" string-to-number ng-model="reserveVO.age" readonly  unselectable="on"/>
            </div>
            <div class="int">
              <label>电话号码:</label><input type="text" ng-maxlength="15" string-to-number ng-model="reserveVO.phoneNumber" readonly  unselectable="on" />
            </div>
            <div class="int">
              <label>预约日期:</label><input type="date" ng-model="reserveVO.reserveDay" readonly  unselectable="on" />
            </div>
            <div class="int">
              <label>预约时间段:</label><input type="text" ng-model="reserveVO.timeString" readonly  unselectable="on" />
            </div>
            <div class="int">
              <label>预约人数:</label><input type="number" ng-maxlength="4" ng-model="reserveVO.peopleCount" readonly  unselectable="on" />
            </div>
            <div class="int">
              <label>预约类型:</label>
              <input name="activityType" type="radio" ng-model="reserveVO.activityType" value="TEAM" disabled/>团队
              <input name="activityType" type="radio" ng-model="reserveVO.activityType" value="SINGLE" disabled/>个人
            </div>
            <button ng-if="canModify" type="button" class="button button-glow button-rounded button-raised button-primary button-tiny" style="margin-bottom: 10px" ng-click="cancel()">取消预约</button>
            <button type="button" class="button button-glow button-rounded button-raised button-primary button-tiny" style="margin-bottom: 10px" ng-click="back()">返回</button>
          </form>
          <div id="qrcode"></div>
        </div>
      </div>
    </div>
  </body>
</html>