<!DOCTYPE html>
<html ng-app="reserve" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/button.css">
    <style>
        form div {
            margin: 5px 0;
        }

        .int label {
            width: 100px;
            float: left;
            text-align: right;
        }

        .int input {
            padding: 1px 1px;
            border: 1px solid #ccc;
            height: 30px;
        }

        .int select {
            padding: 1px 1px;
            border: 1px solid #ccc;
            height: 30px;
        }

    </style>
    <script src="https://code.angularjs.org/1.7.5/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.7.5/angular-cookies.min.js"></script>
    <script src="css/jquery.min.js"></script>
    <script>
        $(function () {
            if (window.location.href.indexOf('?id=') >= 0 || window.location.href.indexOf('?url=') >= 0) {
                $('#header>a.home').show();
            }
            $('#header>dl.more>dt').click(function () {
                var $obj = $(this).parent().find('dd');
                $obj.show();
                setTimeout(function () {
                    $obj.hide();
                }, 3000);
            });
        });

        var app = angular.module("reserve", ['ngCookies']);
        app.controller('reserveController', function ($cookies, $scope, $http, $filter) {
            $scope.reserveVO.linkManName = "";
            $scope.reserveVO.identityCard = "";
            $scope.reserveVO.sex = "MALE";
            $scope.reserveVO.age = "";
            $scope.reserveVO.phoneNumber = "";
            $scope.reserveVO.peopleCount = "";
            $scope.reserveVO.activityType = "TEAM";
            $scope.reserveVO.reserveDay = "";
            $scope.reserveVO.timeString = "";
            $scope.dateTimeList = "";
            $scope.dateList = new Array();
            $scope.validtime = "";
            $scope.validPeopleRange = new Array();
            $scope.reserveForm = function () {
                if (!$scope.validate()) {
                    alert("请填入正确值！");
                    return;
                }
                var ts = $scope.reserveVO.timeString.substr(0, $scope.reserveVO.timeString.indexOf("times:"));
                $http({
                    method: 'POST',
                    url: 'http://www.smart-boot.com/platform/reserve?openid=' + $cookies.get('openid'),
                    data: {
                        "reservationInfoId": null,
                        "linkManName": $scope.reserveVO.linkManName,
                        "identityCard": $scope.reserveVO.identityCard,
                        "sex": $scope.reserveVO.sex,
                        "age": $scope.reserveVO.age,
                        "phoneNumber": $scope.reserveVO.phoneNumber,
                        "reserveDay": $scope.reserveVO.reserveDay,
                        "timeString": ts,
                        "peopleCount": $scope.reserveVO.peopleCount,
                        "activityType": $scope.reserveVO.activityType
                    },
                    headers: {
                        'Content-Type': 'application/json',
                        'Accept': 'application/json'
                    }
                }).then(function (resp) {
                    if (resp.data != null) {
                        alert("预约成功！");
                        self.location = 'https://mp.weixin.qq.com/mp/subscribemsg?action=get_confirm&appid=wx22d16b90c898f61d&scene=1000&template_id=vaJ7xwom1Pit_ShMmyN0tKkAiR7U4mlAd-ZCSY6XEpc&redirect_url=http%3a%2f%2fwww.smart-boot.com%2fplatform%2fweixin%2fmessage%2fsend?reservationInfoId=' + resp.data + '#wechat_redirect';
                    } else {
                        alert("预约失败！");
                        self.location = 'reserve.html?activityType=TEAM';
                    }
                }, function (resp) {
                    alert("服务调用失败！");
                    self.location = 'reserve.html?activityType=TEAM';
                });
            };

            $scope.validate = function () {
                if ($scope.rForm.age1.$error.minlength || $scope.rForm.age1.$error.maxlength) {
                    return false;
                }
                if ($scope.rForm.tel1.$error.required || $scope.rForm.tel1.$error.minlength || $scope.rForm.tel1.$error.maxlength || $scope.rForm.tel1.$error.pattern) {
                    return false;
                }
                if (!$scope.personNumCheck()){
                    return false;
                }
                return true;
            };

            $scope.load = function () {
                var href = location.href;
                var activityTypeValue = href.substr(href.indexOf("=") + 1);
                $scope.reserveVO.activityType = activityTypeValue;
                var url = '';
                if ($scope.reserveVO.activityType == "TEAM") {
                    url = 'http://www.smart-boot.com/platform/reserve/team/validDateTime?openid=' + $cookies.get('openid');
                } else {
                    url = 'http://www.smart-boot.com/platform/reserve/single/validDateTime?openid=' + $cookies.get('openid');
                }

                $http({
                    method: 'GET',
                    url: url,
                    headers: {
                        'Content-Type': 'application/json',
                        'Accept': 'application/json'
                    }
                }).then(function (resp) {
                    $scope.dateTimeList = resp.data;
                    for (var i = 0; i < $scope.dateTimeList.length; i++) {
                        var dateTime = $scope.dateTimeList[i];
                        for (var key in dateTime) {
                            $scope.dateList.push(key);
                        }
                    }
                }, function (resp) {
                    alert("服务调用失败！");
                });

            };

            $scope.changeReserveDate = function () {
                for (var datejson in $scope.dateTimeList) {
                    for (var key in $scope.dateTimeList[datejson]) {
                        var date = $filter('date')($scope.reserveVO.reserveDay, 'yyyy-MM-dd');
                        var keyD = $filter('date')(new Date(key), 'yyyy-MM-dd');
                        if (keyD == date) {
                            $scope.validtime = $scope.dateTimeList[datejson][key];
                        }
                    }
                }
            };

            $scope.changeReserveTime = function () {
                $scope.validPeopleRange = new Array();
                if ($scope.reserveVO.activityType == "TEAM") {
                    for (var i = 16; i <= 50; i++)
                        $scope.validPeopleRange.push(i);
                } else {
                    var timeString = $scope.reserveVO.timeString;
                    var peopleRange = timeString.substr(timeString.indexOf("times:") + 6);
                    for (var i = 1; i <= peopleRange; i++) {
                        $scope.validPeopleRange.push(i);
                    }
                }
            };

            $scope.timeFormatString = function (hourBegin, minuteBegin, hourEnd, minuteEnd) {
                var result = "";
                if (String(hourBegin).length == 1) {
                    result = result + "0" + hourBegin;
                } else {
                    result = result + hourBegin;
                }
                if (String(minuteBegin).length == 1) {
                    result = result + ":0" + minuteBegin;
                } else {
                    result = result + ":" + minuteBegin;
                }
                if (String(hourEnd).length == 1) {
                    result = result + " ~ 0" + hourEnd;
                } else {
                    result = result + " ~ " + hourEnd;
                }
                if (String(minuteEnd).length == 1) {
                    result = result + ":0" + minuteEnd;
                } else {
                    result = result + ":" + minuteEnd;
                }
                return result;
            };

            $scope.goBack = function () {
                location.href = 'reservationList.html?activityType=' + $scope.reserveVO.activityType;
            }

            var vcity={ 11:"北京",12:"天津",13:"河北",14:"山西",15:"内蒙古",
                21:"辽宁",22:"吉林",23:"黑龙江",31:"上海",32:"江苏",
                33:"浙江",34:"安徽",35:"福建",36:"江西",37:"山东",41:"河南",
                42:"湖北",43:"湖南",44:"广东",45:"广西",46:"海南",50:"重庆",
                51:"四川",52:"贵州",53:"云南",54:"西藏",61:"陕西",62:"甘肃",
                63:"青海",64:"宁夏",65:"新疆",71:"台湾",81:"香港",82:"澳门",91:"国外"
            };
            $scope.personNumCheck = function() {
                var card = $scope.reserveVO.identityCard;
                //是否为空
                if(card == '')
                {
                    return false;
                }
                //校验长度，类型
                if($scope.isCardNo(card) === false)
                {
                    return false;
                }
                //检查省份
                if($scope.checkProvince(card) === false)
                {
                    return false;
                }
                //校验生日
                if($scope.checkBirthday(card) === false)
                {
                    return false;
                }
                //检验位的检测
                if($scope.checkParity(card) === false)
                {
                    return false;
                }
                return true;
            };

            //检查号码是否符合规范，包括长度，类型
            $scope.isCardNo = function(card)
            {
                //身份证号码为15位或者18位，15位时全为数字，18位前17位为数字，最后一位是校验位，可能为数字或字符X
                var reg = /(^\d{15}$)|(^\d{17}(\d|X)$)/;
                if(reg.test(card) === false)
                {
                    return false;
                }else{

                    return true;
                }
            };

            //取身份证前两位,校验省份
            $scope.checkProvince = function(card)
            {
                var province = card.substr(0,2);
                if(vcity[province] == undefined)
                {
                    return false;
                }
                else
                {
                    return true;
                }
            };

            //检查生日是否正确
            $scope.checkBirthday = function(card)
            {
                var len = card.length;
                //身份证15位时，次序为省（3位）市（3位）年（2位）月（2位）日（2位）校验位（3位），皆为数字
                if(len == '15')
                {
                    var re_fifteen = /^(\d{6})(\d{2})(\d{2})(\d{2})(\d{3})$/;
                    var arr_data = card.match(re_fifteen);
                    var year = arr_data[2];
                    var month = arr_data[3];
                    var day = arr_data[4];
                    var birthday = new Date('19'+year+'/'+month+'/'+day);
                    return $scope.verifyBirthday('19'+year,month,day,birthday);
                }
                //身份证18位时，次序为省（3位）市（3位）年（4位）月（2位）日（2位）校验位（4位），校验位末尾可能为X
                if(len == '18')
                {
                    var re_eighteen = /^(\d{6})(\d{4})(\d{2})(\d{2})(\d{3})([0-9]|X)$/;
                    var arr_data = card.match(re_eighteen);
                    var year = arr_data[2];
                    var month = arr_data[3];
                    var day = arr_data[4];
                    var birthday = new Date(year+'/'+month+'/'+day);
                    return $scope.verifyBirthday(year,month,day,birthday);
                }
                return false;
            };

            //校验日期
            $scope.verifyBirthday = function(year,month,day,birthday)
            {
                var now = new Date();
                var now_year = now.getFullYear();
                //年月日是否合理
                if(birthday.getFullYear() == year && (birthday.getMonth() + 1) == month && birthday.getDate() == day)
                {
                    //判断年份的范围（3岁到100岁之间)
                    var time = now_year - year;
                    if(time >= 3 && time <= 100)
                    {
                        return true;
                    }
                    return false;
                }
                return false;
            };

            //校验位的检测
            $scope.checkParity = function(card)
            {
                //15位转18位
                card = $scope.changeFivteenToEighteen(card);
                var len = card.length;
                if(len == '18')
                {
                    var arrInt = new Array(7, 9, 10, 5, 8, 4, 2, 1, 6, 3, 7, 9, 10, 5, 8, 4, 2);
                    var arrCh = new Array('1', '0', 'X', '9', '8', '7', '6', '5', '4', '3', '2');
                    var cardTemp = 0, i, valnum;
                    for(i = 0; i < 17; i ++)
                    {
                        cardTemp += card.substr(i, 1) * arrInt[i];
                    }
                    valnum = arrCh[cardTemp % 11];
                    if (valnum == card.substr(17, 1))
                    {
                        return true;
                    }
                    return false;
                }
                return false;
            };

            //15位转18位身份证号
            $scope.changeFivteenToEighteen = function(card)
            {
                if(card.length == '15')
                {
                    var arrInt = new Array(7, 9, 10, 5, 8, 4, 2, 1, 6, 3, 7, 9, 10, 5, 8, 4, 2);
                    var arrCh = new Array('1', '0', 'X', '9', '8', '7', '6', '5', '4', '3', '2');
                    var cardTemp = 0, i;
                    card = card.substr(0, 6) + '19' + card.substr(6, card.length - 6);
                    for(i = 0; i < 17; i ++)
                    {
                        cardTemp += card.substr(i, 1) * arrInt[i];
                    }
                    card += arrCh[cardTemp % 11];
                    return card;
                }
                return card;
            };

            $scope.calculateSexAndAge = function () {
                var card = $scope.reserveVO.identityCard;
                if(card.length != 15 && card.length != 18){
                    $scope.reserveVO.sex = "";
                    $scope.reserveVO.age = "";
                    return;
                }

                var idxSexStart = card.length == 15 ? 14 : 16;
                var birthYearSpan = card.length == 15 ? 2 : 4

                var idxSex = 1 - card.substr(idxSexStart, 1) % 2;
                $scope.reserveVO.sex = idxSex == '1' ? 'FEMALE' : 'MALE';

                var year = (birthYearSpan == 2 ? '19' : '') +
                    card.substr(6, birthYearSpan);
                var month = card.substr(6 + birthYearSpan, 2);
                var day = card.substr(8 + birthYearSpan, 2);

                var d = new Date();
                var monthFloor = ((d.getMonth()+1) < parseInt(month,10) || (d.getMonth()+1) == parseInt(month,10) && d.getDate() < parseInt(day,10)) ? 1 : 0;
                $scope.reserveVO.age = d.getFullYear() - parseInt(year,10) - monthFloor;
            }
        });
    </script>
    <title>资源预约</title>
</head>
<body>
<div class="header">
    <div id="header">
        <a class="home" href="reserve.html?activityType=TEAM" title="预约"><i></i></a>
        <span id="lblTitle">预约系统</span>
        <dl class="more" title="预约一览">
            <dt><i></i></dt>
            <dd>
                <a href="myReservationList.html">我的预约</a>
            </dd>
        </dl>
    </div>
</div>
<div>
    <img class="header-image" src="img/hd-bg.jpeg">
</div>
<div class="middle">
    <div ng-controller="reserveController as reserveVO" class="main" data-ng-init="load()">
        <div>
            <form name="rForm" ng-submit="reserveForm()">
                <div class="int">
                    <label>领队姓名:</label>
                    <input placeholder="请输入联系人姓名" type="text" ng-model="reserveVO.linkManName" required/>
                </div>
                <div class="int">
                    <label>身份证号码:</label>
                    <input name="identityCard" placeholder="请输入身份证号码" type="text" ng-model="reserveVO.identityCard" ng-change="calculateSexAndAge()" required/>
                    <div class="col-xs-12">
                        <p class="text-danger glyphicon glyphicon-remove"
                           ng-if="!personNumCheck()&&rForm.identityCard.$touched"
                           style="color: red;">请输入有效身份证!</p>
                    </div>
                </div>
                <div class="int">
                    <label>性别:</label>
                    <input name="sex" type="radio" ng-model="reserveVO.sex" value="MALE" disabled/>男
                    <input name="sex" type="radio" ng-model="reserveVO.sex" value="FEMALE" disabled/>女
                </div>
                <div class="int">
                    <label>年龄:</label><input name="age1" placeholder="请输入年龄" type="number" ng-minlength="1"
                                             ng-maxlength="2" ng-model="reserveVO.age" disabled/>
                    <div class="col-xs-12">
                        <p class="text-danger glyphicon glyphicon-remove"
                           ng-if="(rForm.age1.$error.minlength||rForm.age1.$error.maxlength)&&rForm.age1.$touched"
                           style="color: red;">请输入有效年龄!</p>
                    </div>
                </div>
                <div class="int">
                    <label>联系电话:</label><input name="tel1" placeholder="请输入手机号码" ng-pattern="/^1[3|5][0-9]\d{4,8}$/"
                                               type="tel" ng-minlength="11"
                                               ng-maxlength="15" ng-model="reserveVO.phoneNumber" required/>
                    <div class="col-xs-12">
                        <p class="glyphicon glyphicon-ok input_result text-success"
                           ng-if="rForm.tel1.$valid"></p>
                        <p class="text-danger glyphicon glyphicon-remove"
                           ng-if="rForm.tel1.$error.required&&rForm.tel1.$touched" style="color: red;">电话不能为空！</p>
                        <p class="text-danger glyphicon glyphicon-remove"
                           ng-if="(rForm.tel1.$error.minlength||rForm.tel1.$error.maxlength||rForm.tel1.$error.pattern)&&rForm.tel1.$touched"
                           style="color: red;">请输入有效手机号!</p>
                    </div>
                </div>
                <div class="int">
                    <label>预约日期:</label>
                    <select ng-model="reserveVO.reserveDay" ng-change="changeReserveDate()" required>
                        <option value="" disabled selected>请选择日期</option>
                        <option ng-repeat="d in dateList" value="{{d}}">{{d | date:'yyyy-MM-dd'}}
                        </option>
                    </select>
                </div>
                <div class="int">
                    <label>预约时间段:</label>
                    <select ng-model="reserveVO.timeString" ng-change="changeReserveTime()" required>
                        <option value="" disabled selected>请选择时间段</option>
                        <option ng-repeat="t in validtime"
                                value="{{t.beginHour + ':' + t.beginMinute + ' ~ ' + t.endHour + ':' + t.endMinute + 'times:' + t.times}}">
                            {{timeFormatString(t.beginHour, t.beginMinute, t.endHour, t.endMinute)}}
                        </option>
                    </select>
                </div>
                <div class="int">
                    <label>团队人数:</label>
                    <select ng-model="reserveVO.peopleCount" required>
                        <option value="" disabled selected>请选择人数</option>
                        <option ng-repeat="t in validPeopleRange" value="{{t}}">
                            {{t}}
                        </option>
                    </select>
                </div>
                <div class="int" hidden>
                    <label>预约类型:</label>
                    <input name="activityType" type="radio" ng-model="reserveVO.activityType" value="TEAM" disabled/>团队
                    <input name="activityType" type="radio" ng-model="reserveVO.activityType" value="SINGLE" disabled/>个人
                </div>
                <button type="submit" class="button button-glow button-rounded button-raised button-primary"
                        style="margin-bottom: 10px">预约
                </button>
                <button type="button" class="button button-glow button-border button-rounded button-primary"
                        style="margin-bottom: 10px"
                        ng-click="goBack()">返回
                </button>
            </form>
        </div>
    </div>
</div>
</body>
</html>